* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Primary colors */
    --brand-green: hsla(170, 100%, 26%, 1);
    --brand-green-light: hsla(148, 23%, 89%, 1);
    --brand-green-light-02: hsla(180, 14%, 97%, 1);
    --brand-beige: hsla(39, 100%, 97%, 1);
    --brand-green-hover: hsla(170, 100%, 14%, 1);

    /* Secondary colors */
    --gray-headline: hsla(210, 11%, 15%, 1);
    --gray-paragraph: hsla(210, 9%, 31%, 1);
    --white: hsla(0, 0%, 100%);

    /* Other variables */
    --nav-height: 7.2rem;

    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--brand-green-light-02);

    color: var(--gray-paragraph);
    font-family: 'DM Sans', sans-serif;

    overflow: overlay;
}

body, html {
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body > section {
    padding-block: 10rem;
}

.container {
    width: 37.5rem;
    padding: 0 2.4rem;
    margin: 0 auto;
}

.title {
    color: var(--gray-headline);
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.9rem;
    text-align: center;
}

.subtitle {
    color: var(--brand-green);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.08rem;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 1.6rem;
}

.text-generic {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}

.button {
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;

    width: fit-content;

    padding: 1.6rem 3.2rem;
}

.button--primary {
    background-color: var(--brand-green);

    color: var(--white);

    display: flex;
    align-items: center;
    gap: 1.6rem;

    transition: background-color 200ms;
}

.button--primary:hover {
    background-color: var(--brand-green-hover);
    
}

.button--secondary {
    background-color: var(--white);
    border: 1px solid var(--brand-green);
    border-radius: 4rem;

    color: var(--brand-green);
}

#backToTop {
    transform: translateY(100%);
}

#backToTop.show {
    position: fixed;
    right: 2.5rem;
    bottom: 1rem;

    transform: translateY(0);

    transition: transform 300ms;
}