* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Primary colors */
    --brand-green: hsla(170, 100%, 26%, 1);
    --brand-green-light: hsla(148, 23%, 89%, 1);
    --brand-green-light-02: hsla(180, 14%, 97%, 1);
    --brand-beige: hsla(39, 100%, 97%, 1);
    --brand-green-hover: hsla(170, 100%, 14%, 1);

    /* Secondary colors */
    --gray-headline: hsla(210, 11%, 15%, 1);
    --gray-paragraph: hsla(210, 9%, 31%, 1);
    --white: hsla(0, 0%, 100%);

    /* Other variables */
    --nav-height: 7.2rem;

    font-size: 62.5%;
}

body {
    background-color: var(--brand-green-light-02);

    color: var(--gray-paragraph);
    font-family: 'DM Sans', sans-serif;

    overflow: overlay;
}

body, html {
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body section {
    margin-block: 10rem;
}

.container {
    min-width: 37.5rem;
    padding: 0 2.4rem;
}

.title {
    color: var(--gray-headline);
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 4.4rem;
    
    margin-bottom: 2.4rem;
}

.subtitle {
    color: var(--brand-green);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    
    padding-bottom: 1.6rem;
}

.button {
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;

    padding: 1.6rem 3.2rem;
}

.button--primary {
    background-color: var(--brand-green);

    color: var(--white);
}

.button--secondary {
    background-color: var(--white);
    border: 1px solid var(--brand-green);
    border-radius: 4rem;

    color: var(--brand-green);
}
