.services {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.services__title {
    text-align: center;   
}

.services__text {
    color: var(--gray-headline);
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.9rem;
    text-align: center;

    margin-bottom: 6rem;
}

.service {
    background: var(--white);
    border: .1rem solid var(--brand-green-light-02);
    border-radius: .6rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    padding: 2.4rem;
}

.service__img {
    background: url("../img/mark_icon.svg") no-repeat center;
    
    width: 2.4rem;
    height: 2.4rem;
}

.service__title {
    color: var(--gray-headline);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.1rem;
}

.service__text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}